
:root {
    --main-bg-color: coral; 
    --pink: #d20080;
    --main-font-color: #323232;
    --arya-font: 'Arya', sans-serif;
    --off-white: #fdfdfd;
    --dark-gray: #2b2b2b;
    --cursive: 'Kanit', sans-serif;
    --blue-color: #0398AD;
    --yellow: #FFCA00;
    --light-blue: #4DB3C2;
    --mid-gray: #a6a6a6;
  }
  
  body,td,th,p{
      font-family: var(--arya-font);
      font-size: 16pt;
      line-height: 1.5;
  }
  body {
      background-color: var(--off-white);
      margin: 0;
      position:relative;
  }
  ul, li {
  
      color: var(--main-font-color)
  }
  
  
  h2 {
    font-weight: normal;
    margin: 0px;
    font-size: 2.5rem;
    height: 50px;
    text-align: center;
  }
  
  
  .hidethis {
  
    position: absolute;
    transform: translate(-39990px, 0);
  }
  
  
  article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
  }

  a {
    color: var(--blue-color);
    text-decoration: none;
  }

 footer {
    color: var(--off-white);
    font-size: 1.2rem;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    background: var(--dark-gray);
    margin-top: 1em;
  }
  #footer a {
    color: var(--blue-color);
    text-decoration: none;
  }
