@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Arya|Molle:400i');

:root {
  --main-bg-color: coral; 
  --pink: #d20080;
  --main-font-color: #323232;
  --arya-font: 'Arya', sans-serif;
  --off-white: #fdfdfd;
  --dark-gray: #2b2b2b;
}

body,td,th,p{
	font-family: var(--arya-font);
	font-size: 16pt;
	color: var(--main-font-color);
	line-height: 1.5;
}
body {
	background-color: var(--off-white);
	margin: 0;
	position:relative;
}
ul, li {

	color: var(--main-font-color)
}
a {
	color: var(--pink);
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

h2 {
  color: black;
  font-weight: normal;
  margin: 0px;
  font-size: 2.5rem;
  height: 50px;
  text-align: center;
}


.hidethis {

  position: absolute;
  transform: translate(-39990px, 0);
}

a img{
	border: none 0px #fff;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#footer {

  color:black;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ================  container ================= */

.container {

  display: grid;
  grid-template-rows: 30px, 30px, 1fr, auto, auto;
  grid-template-columns: 1fr;

  align-items: center;
}

/* ====================== HEADER ========================== */

header 
{
  display: grid;
  justify-content: center;
  align-items: center;
  display: relative;
  background: var(--pink);
}

h1 {
  font-family: 'Molle', cursive;
  color: white;
  font-weight: 800;
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
}
/* ====================== Navigation ====================== */
nav {
  display: grid;
  text-align:center;
}
nav h1 {
  margin: auto;
}

#breadcrumb {

    list-style: none;
    background-color: #eee;

}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  background-color: #ccc;
  position: relative !important;
}

#map-container {
  border-top: 5px solid var(--pink);
  border-bottom: 5px solid var(--pink);
  width: 100%;
  position: relative !important;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: left;
  padding-bottom: 30px;
  background: var(--dark-gray);
  color: white;
}
.filter-options h2 {
  color: white;
  text-align: center;
  width: 100%;
}

.filter-options select {
  border: none;
  font-family: 'Arya', sans-serif;
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  transition: 0.3s;
  border: 2px solid #ff70c7;
  height: 50px;
  width: 250px;
  background: var(--pink);
  color: var(--off-white);
  padding-left: 5px;
}

.filter-options select:hover, .filter-options select:focus {
  background: white;
  color: black;

}

.filter-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  padding: 10px;
  align-items: center;
  justify-items: center;
  grid-gap: 30px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list, .restaurant-items {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  margin-bottom: 10px;
  border-bottom: 3px #000 solid;
  background: var(--dark-gray);
}
#restaurants-list li {

  padding: 10px;
  background: white;
  margin-bottom: 30px;
}
.restaurant-img {
  background-color: white;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #afafaf;
  border-radius: 20px;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#maincontent h2 {
  height: 100px;
  color: white;
  background: var(--dark-gray);
}
