.container {
    .rest-head {
    display: grid;
    grid-template-columns: 1fr;
    height: 80px;

    .favorite {
        height: 1px;
        width: 1px;
        position: relative;
        text-align: center;

        &:checked:before {
            animation: sprite .3s steps(19) forwards;
        }

        &:before {
            content: ' ';
            padding: 20px 50px;
            background-image: url('../images/hearts.png');
            margin-left: -10px;

        }
    }
}
}
.inside {
    .rest-head {
        display: grid;
        grid-template-columns: 1fr;
        height: 80px;
    
        .favorite {
            height: 1px;
            width: 1px;
            position: absolute;
            &:checked:before {
                animation: sprite .3s steps(19) forwards;
            }
    
            &:before {
                content: ' ';
                padding: 20px 50px;
                background-image: url('../images/hearts.png');
                margin-left: -10px;
    
            }
        }
    }
}



@keyframes sprite {
    100% {
        background-position: -950px;
    }
}