
@media screen and (min-width:701px) {


    .filter-options {
      display: grid;
      box-sizing: border-box;
      grid-gap: 10px;
    }
    .filter-options h2 {
  text-align: left;
  line-height: 1em;
  padding-top: 30px;
  padding-left: 30px;
  box-sizing: border-box;
    }
    
    .filter-options select {
    margin-left: 5px;
    margin: 0px;
    }
    
    hr {
      display: none;
      visibility: hidden;
    }
    .filter-container {
      display: grid;
      grid-template-columns: repeat(minmax(250px, 1fr));;
      width: 700px;
      box-sizing: border-box;
      margin-left: 1em;
    }
    
    .filter-options #reset {
      display: grid;
      grid-column-start: 3;
      text-align: left;
      padding: 1.4em;
      line-height: 1em;
      justify-items: center;
      align-items: center;
      box-sizing: border-box;
      width: 200px;
      margin: 0px;
      }
    
      .filter-options #reset:hover {
        background: none;
        text-decoration: overline;
      }
  }