@media screen and (min-width:1024px) {






  .container #restaurants-list article h2,
  .container h2 {
    background: none;
    color: var(--off-white);
    font-size: 2em;
    margin-top: 0px !important;
    border-radius: 0px;
    height: auto;
    vertical-align: top;
    font-family: var(--cursive);
    text-decoration: underline;
    position: relative;
    background: var(--dark-gray);
    box-sizing: border-box;
    z-index: 1;
    border: none !important;
    padding: 0px !important;
  }

  .link a {
    color: var(--light-blue);
    text-decoration: none;
    padding: 3%;
    height: 40px;
  }

  .link {
    text-align: center;
    background: var(--dark-gray);
    width: 100%;
    padding: .1em;
    margin: 0px;
    font-size: 1em;
    box-sizing: border-box;
  }

  .filter-options {
    width: 100%;
    padding-bottom: 0px;
    background: var(--dark-gray);
    color: white;
    box-sizing: border-box;
    font-family: 'Arya', sans-serif;

    & h2 {
      font-size: 1em;
      padding-left: 2% !important;
      text-decoration: none;
      font-weight: normal !important;
      font-family: 'Arya', sans-serif;
      font-size: 1.2em;
    }
  }
}